@charset "utf-8";

/* CSS Document */

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: "微软雅黑";
}

.big {
	width: 980px;
	margin: 10px auto;
}

.navbox {
	float: left;
	width: 980px;
	height: 40px;
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
	font-weight: normal;
}

#nav ul {
	border-top: 3px solid #8babd1;
	border-bottom: 1px solid #DEDEDE;
	border-left: 1px solid #DEDEDE;
	width: 980px;
	height: 36px;
	margin: 0;
	padding: 0px;
}

#nav li {
	width: 88px;
	height: 36px;
	font-size: 14px;
	border-right: 1px solid #DEDEDE;
	text-align: center;
	line-height: 36px;
	float: left;
	margin-left: 0px;
	padding: 0;
}

#nav a {
	display: block;
	width: 87px;
	height: 36px;
	color: #000;
}

#nav a:link {
	color: #000;
}

#nav a:hover {
	color: #FFF;
	background: #FFC443;
	width: 87px;
	height: 36px;
}


/*     导航    */


/*     左侧  开始*/

.biaoti {
	float: left;
	width: 92px;
	height: 30px;
	font-size: 22px;
	color: #FA8900;
	border-bottom: solid 2px #FB8A00;
}

.gd {
	float: right;
	font-family: "宋体";
	font-size: 12px;
	color: #FA8900;
	width: 30px;
	height: 30px;
	line-height: 32px;
}


/*     左侧   h1  开始*/

.big_leftbox {
	float: left;
	width: 650px;
	margin-top: 30px;
}

.big_leftbox .big_left_h1 {
	float: left;
	width: 650px;
}

.big_leftbox .big_left_h1 .redian_flash {
	width: 320px;
	height: 242px;
	float: left;
}

.big_leftbox .big_left_h1 .redian {
	float: right;
	width: 308px;
}

.big_left_h1 .redian .bt_box {
	float: left;
	width: 308px;
	height: 30px;
	border-bottom: solid 2px #FFC833;
}

.big_left_h1 .h1_newt {
	float: left;
	width: 308px;
	color: #00;
	font-size: 18px;
	font-family: '黑体';
	line-height: 33px;
	margin: 5px 0;
}

.big_left_h1 .h_liebiao {
	float: left;
	width: 308px;
	color: #6D6D6D;
	font-size: 14px;
	font-family: '宋体';
	line-height: 24px;
}

.big_leftbox .ad {
	float: left;
	width: 650px;
	margin: 13px 0;
}


/*     左侧   h2  开始*/

.big_leftbox .big_left_h2 {
	float: left;
	width: 650px;
}

.big_leftbox .big_left_h2 .bt_box {
	float: left;
	width: 650px;
	height: 30px;
	border-bottom: solid 2px #FFC833;
}

.big_leftbox .big_left_h2 .wyly {
	float: left;
	width: 650px;
	height: 640px;
}


/*     左侧   h3  开始*/

.big_leftbox .big_left_h3 {
	float: left;
	width: 650px;
}

.big_left_h3 .h3_l {
	float: left;
	width: 311px;
}

.big_left_h3 .h3_l .bt_box {
	float: left;
	width: 311px;
	height: 30px;
	border-bottom: solid 2px #FFC833;
}

.big_left_h3 .h3_l .h_liebiao {
	float: left;
	width: 311px;
	color: #6D6D6D;
	font-size: 14px;
	font-family: '宋体';
	line-height: 24px;
	margin: 15px 0;
}

.big_left_h3 .h3_r {
	float: right;
	width: 318px;
}

.big_left_h3 .h3_r .bt_box {
	float: left;
	width: 318px;
	height: 30px;
	border-bottom: solid 2px #FFC833;
}

.big_left_h3 .h3_r .h_liebiao {
	float: left;
	width: 318px;
	color: #6D6D6D;
	font-size: 14px;
	font-family: '宋体';
	line-height: 24px;
	margin: 15px 0;
}


/*     左侧   h4  开始*/

.big_leftbox .big_left_h4 {
	float: left;
	width: 650px;
}

.big_leftbox .big_left_h4 .bt_box {
	float: left;
	width: 650px;
	height: 30px;
	border-bottom: solid 2px #FFC833;
}

.big_leftbox .big_left_h4 .picbox {
	float: left;
	width: 650px;
	padding-bottom: 10px;
}

.big_left_h4 .picbox ul {
	float: left;
	width: 650px;
	height: 153px;
	margin: 0;
	padding: 0;
}

.big_left_h4 .picbox li {
	float: left;
	width: 153px;
	height: 128px;
	margin-top: 20px
}

.big_left_h4 .picbox img {
	float: left;
	width: 153px;
	height: 98px;
	padding: 1px;
	border: solid 1px #E1E1DF;
	margin-bottom: 5px;
}

.big_left_h4 .picbox p {
	float: left;
	width: 153px;
	height: 24px;
	background: #F3F3F1;
	text-align: center;
	font-size: 12px;
	line-height: 24px;
}

.big_left_h4 .picbox .temp {
	float: left;
	width: 10px;
	height: 153px;
}


/*     左侧   h5  开始*/

.big_leftbox .big_left_h5 {
	float: left;
	width: 650px;
}

.big_left_h5 .h5_l {
	float: left;
	width: 352px;
}

.big_left_h5 .h5_l .bt_box {
	float: left;
	width: 352px;
	height: 30px;
	border-bottom: solid 2px #FFC833;
}

.big_left_h5 .h5_l .leftpic {
	float: left;
	width: 162px;
	height: 125px;
	margin: 20px 10px 0 10px;
}

.big_left_h5 .h5_l .rightpic {
	float: right;
	width: 162px;
	height: 125px;
	margin: 20px 8px 0 0;
}

.big_left_h5 .h5_l img {
	float: left;
	width: 162px;
	height: 125px;
	margin-bottom: 5px;
}

.big_left_h5 .h5_l p {
	float: left;
	width: 162px;
	height: 24px;
	text-align: center;
	font-size: 14px;
	line-height: 24px;
}

.big_left_h5 .h5_r {
	float: right;
	width: 274px;
}

.big_left_h5 .h5_r .bt_box {
	float: left;
	width: 274px;
	height: 30px;
	border-bottom: solid 2px #FFC833;
}

.big_left_h5 .h5_r .bt_box .biaoti {
	float: left;
	width: 72px;
	height: 30px;
	font-size: 22px;
	color: #FA8900;
	border-bottom: solid 2px #FB8A00;
}

.big_left_h5 .h5_r .h5_lst {
	float: left;
	width: 274px;
	font-size: 12px;
	line-height: 22px;
	margin: 5px 0;
}

.big_left_h5 .h5_r .picbox {
	float: left;
	width: 274px;
	padding-bottom: 5px;
}

.big_left_h5 .h5_r ul {
	float: left;
	width: 274px;
	height: 0;
	margin: 0;
	padding: 0;
}

.big_left_h5 .h5_r li {
	float: left;
	width: 64px;
	height: 107px;
	margin: 10px 0 0 4px;
}

.big_left_h5 .h5_r img {
	float: left;
	width: 64px;
	height: 85px;
}

.big_left_h5 .h5_r p {
	float: left;
	width: 64px;
	;
	height: 22px;
	font-size: 12px;
	line-height: 22px;
	text-align: center;
}


/*     右侧  开始*/

.big_rightbox {
	float: right;
	width: 305px;
	margin-top: 30px;
}

.big_rightbox .right_top {
	float: right;
	width: 305px;
	margin-top: 10px;
	background: #F3F3F3;
}


/*   右侧  登陆  模块     */

.right_login {
	float: left;
	width: 305px;
	height: 282px;
	background-color: #F3F3F3;
	font-family: "宋体";
	color: #FFF;
	font-size: 20px;
	line-height: 36px;
	text-align: center;
}

.login_1 {
	float: left;
	width: 305px;
	height: px;
}

.login_2 {
	float: left;
	width: 305px;
	margin: 5px 12px;
	width: px;
	height: px;
}

.login_3 {
	float: left;
	width: 305px;
	background: #F3F3F3;
}

.login5 {
	float: right;
	width: 290px;
	height: 21px;
	font-size: 12px;
	line-height: 21px;
	margin: 6px 0;
}

.login_wen {
	float: left;
	width: 50px;
	height: 21px;
	color: #000;
}

.user_l {
	float: left;
	background-color: #F3F3F3;
	border: solid 1px #B8B8B8;
}

.login_am1 {
	float: left;
	width: 305px;
}

.login_xian {
	float: left;
	width: 275px;
	height: 3px;
	margin: 5px 15px;
	background-color: #C1C1C1;
}

.login_k {
	float: left;
	width: 285px;
	height: 22px;
	margin: 1px 0;
	padding-left: 20px;
}

.login_bot {
	float: left;
	width: 77px;
	height: 21px;
}

.login_reg {
	float: left;
	width: 68px;
	height: 19px;
	margin: 2px 0 0 20px;
}

.personal {
	float: left;
	width: 137px;
	height: 36px;
	background-image: url(../img/login_2.png);
	margin: 10px 0 0 15px;
}

.gov {
	float: left;
	width: 137px;
	height: 36px;
	background-image: url(../img/login_1.png);
	margin: 10px 15px 0 0;
}

.tousu {
	float: left;
	width: 278px;
	height: 32px;
	background-image: url(../img/login_4.png);
	margin: 10px 15px;
}

.jieshao {
	float: left;
	width: 130px;
	height: 32px;
	background-image: url(../img/login_3.png);
	margin-left: 15px;
}

.zhinan {
	float: right;
	width: 130px;
	height: 32px;
	background-image: url(../img/login_3.png);
	margin-right: 15px;
}


/*              */

.right_biao {
	float: left;
	width: 305px;
	height: 30px;
	margin: 2px 0;
}

.biao1 {
	float: left;
	width: 13px;
	height: 19px;
	margin: 6px 3px 3px 6px;
	;
	background-image: url(../img/biao.png);
}

.biao2 {
	float: left;
	width: 140px;
	height: 25px;
	margin: 3px 6px;
	font-family: "微软雅黑";
	color: #FB8A00;
	font-size: 22px;
	line-height: 24px;
}

.right_bxsy {
	float: left;
	width: 305px;
	margin: 5px 0;
	font-size: 12px;
	font-family: '宋体';
	line-height: 24px;
}

.right_wen {
	float: left;
	width: 305px;
	margin: 5px 0;
	font-size: 12px;
	font-family: '宋体';
	line-height: 24px;
}

.right_book {
	float: left;
	width: 285px;
	margin: 5px 0 5px 20px;
	font-size: 12px;
	font-family: '宋体';
	line-height: 24px;
}

.right_bm {
	float: left;
	width: 39px;
	height: 60px;
	margin: 0 18px
}

.right_s {
	width: 39px;
	height: 39px;
	margin: ;
}

.right_x {
	float: left;
	width: 39px;
	font-size: 12px;
	font-family: '微软雅黑';
	line-height: 24px;
	text-align: center;
}

.right_hei {
	float: left;
	width: 285px;
	margin: 5px 0 5px 20px;
	font-size: 14px;
	font-family: '宋体';
	line-height: 24px;
}

.hf_paihang {
	float: left;
	width: 285px;
	height: 200px;
	padding-left: 20px;
	font-family: "宋体";
	font-size: 12px;
	text-align: center;
}

.hf_ti {
	float: left;
	width: 285px;
	height: 22px;
	line-height: 20px;
}

.hf_ti1 {
	margin-left: 5px;
}

.hf_ti2 {
	margin-left: 50px;
	margin-right: 40px;
}

.hf_wen {
	float: left;
	width: 275px;
	background-color: #FFF;
	line-height: 20px;
}

.wen_hf1 {
	float: left;
	width: 30px;
	height: 20px;
	border-top: dashed 1px #C5BFBF;
}

.wen_hf2 {
	float: left;
	width: 155px;
	height: 20px;
	border-top: dashed 1px #C5BFBF;
	overflow: hidden;
}

.h_title {
	color: #00;
	font-size: 18px;
	font-family: '黑体';
	line-height: 33px;
}

.h_liebiao {
	color: #6D6D6D;
	font-size: 14px;
	font-family: '宋体';
	line-height: 24px;
}

.liuyan {
	float: left;
	width: 650px;
	height: 30px;
	margin: 10px 0;
	background-color: #F3F3F3;
	font-size: 14px;
	font-family: "宋体";
	line-height: 30px;
}

.hy {
	float: left;
	width: 70px;
	height: 30px;
}

.ly {
	float: left;
	width: 95px;
	height: 30px;
	background-color: #E6E6E6;
}

.ly_wen {
	height: 550px;
	line-height: 28px;
	font-size: 14px;
}

.ly_t {
	float: left;
	width: 650px;
	height: 30px;
	font-size: 14px;
	font-family: '宋体';
	line-height: 24px;
}

.ly_1 {
	float: left;
	width: 350px;
	height: 20px;
	margin: 0 0 0 15px;
}

.ly_2 {
	float: left;
	width: 120px;
	height: 20px;
	margin: 0 0;
}

.ly_3 {
	float: left;
	width: 70px;
	height: 20px;
	margin: 0 0;
}

.ly_4 {
	float: left;
	width: 90px;
	height: 20px;
	margin: 0 0;
}


/*     links  开始*/

.big_link {
	float: right;
	width: 980px;
	margin-top: 30px;
}

.big_link .bt_box {
	float: left;
	width: 980px;
	height: 30px;
	border-bottom: solid 2px #FFC833;
}

.big_link .link_box {
	float: left;
	width: 980px;
	margin: 20px 0;
}

.big_link .link_box ul {
	float: left;
	width: 980px;
	;
	margin: 0;
	padding: 0;
}

.big_link .link_box li {
	float: left;
	width: 115px;
	height: 58px;
	margin: 10px 20px;
}


/*    图片幻灯特效开始    */

img {
	vertical-align: top;
	border: 0;
}

#hotpic {
	float: left;
	width: 320px;
	height: 222px;
	overflow: hidden;
}

#NewsPic {
	float: left;
	position: relative;
	width: 320px;
	height: 222px;
	overflow: hidden;
}

#NewsPic a {
	overflow: visible;
	border: 0;
	text-decoration: none;
}

#NewsPic .Picture {
	position: absolute;
	left: 0;
	top: 0;
}

#NewsPic .Nav {
	position: absolute;
	height: 12px;
	line-height: 12px;
	bottom: 0;
	right: 0;
}

#NewsPic .Nav span {
	font-size: 12px;
	font-weight: 400;
	color: #FFF;
	float: right;
	display: block;
	width: 24px;
	text-align: center;
	background: #000;
	border-left: solid 1px #FFF;
	cursor: pointer;
}

#NewsPic .Nav span.Normal {
	color: #FFF;
	background: #000;
	filter: Alpha(opacity=50);
	opacity: .5;
}

#NewsPic .Nav span.Cur {
	background: #ce0609;
	color: #FFF;
}

#NewsPicTxt {
	position: relative;
	width: 320px;
	height: 12px;
	border: 1px;
	text-align: center;
	font-family: "宋体";
	font-weight: 700;
	color: #000;
	font-size: 12px;
	margin-left: auto;
	margin-right: auto;
}

#NewsPicTxt a:link,
#NewsPicTxt a:visited {
	font-family: "宋体";
	font-size: 12px;
	font-weight: 700;
	color: #000;
	text-decoration: none;
}

#NewsPicTxt a:hover {
	color: red;
}

.newscolor {
	float: left;
	width: 320px;
	overflow: hidden
}


/*    图片幻灯特效结束    */