@charset "utf-8";
/* CSS Document */
body, ol, ul, h1, h2, h3, h4, h5, h6, p, dl, dd, form, fieldset, legend, input, textarea, select { margin: 0; padding: 0;/*font-family:"Microsoft Yahei", "SimHei", "SimSun";*/}
h1, h2, h3, h4, h5, h6{ font-family:"Microsoft Yahei", "SimHei", "SimSun"; font-size:100%; font-weight: normal;}
a {text-decoration: none; font-weight:normal;}
a:hover {color:#e66506; text-decoration:underline;}
ul{list-style-type:none;}
img{border:none;}
.main{ width:980px;margin:0 auto;}
.clear{clear:both;}
h2 a{color:#38b3ca;font-size:24px;}
h2 a:hover{color:#e66506;text-decoration:none;}
h3 a{color:#000;font-family:"微软雅黑";font-size:18px;font-weight:normal;}
h3 a:hover {color:#e66506; text-decoration:underline;}
h4 a{color:#000;font-family:"微软雅黑";font-size:14px;font-weight:normal;}
h4 a:hover {color:#e66506; text-decoration:underline;}

.main .headlogo h1{ margin:0;padding:0;background:url(../img/xjw_jk/logo.png) no-repeat left center;height:34px;}
.main .headlogo h1 a{display:none;}
.main .headlogo h1 span{margin-left:120px;font-family:"微软雅黑";font-size:24px;font-weight:normal;color:#48b8cd;}
.main .nav {border-top:3px solid #48b8cd;background:#eeefef;height:72px;margin-top:10px;font-family:"微软雅黑";}
.main .nav ul{width:980px;margin-top:5px;padding:0px;}
.main .nav li{height:30px;font-size:14px;text-align:center;line-height:30px;float:left;margin-left:0px;padding:0;}

.main .nav a{display:block;height:36px;color:#38b3ca;font-size:16px;}
.main .nav a:link{color:#38b3ca;}
.main .nav a:hover{color:#e66506;height:36px;text-decoration:none;}
.main .keshi{width:980px;}
.main .keshi img{margin-left:10px;}

.main .content{width:980px;}
.main .content .focus{width:650px;height:340px;float:left;}
.main .content .news{margin-top:0px;width:330px;height:340px;float:right;background:#f5f4f4;}
.main .content .news .hotnews1{padding-bottom:20px;border-bottom:1px dashed #999;width:310px;margin:0 auto;}
.main .content .news .hotnews1 h3{margin-bottom:5px;padding-top:0;text-align:center;margin-top:5px;}
.main .content .news .hotnews1 p a{color:#000;}
.main .content .news .hotnews1 p a:hover{color:#e66506;}
.main .content .news .hotnews1 p{font-size:12px;color:#888888;line-height:24px;}

.main .content .news .hotnews1 p{text-indent:25px;color:#4d4c4c;font-family:"微软雅黑";}
.main .content .news ul{margin-top:20px;text-align:center;font-family:"微软雅黑";}
.main .content .news ul li{height:33px;text-align: left;padding-left: 40px;}
.main .content .news ul a{color:#404040;}
.main .content .news ul a:hover{color:#e66506; text-decoration:underline;}

ul a{color:#686767;}
ul a:hover{color:#e66506; text-decoration:underline;}

.main .content .leftAll {margin-top:20px;width:642px;float:left;}
.main .content .leftAll h2{width:305px;height:35px;border-top:2px solid #58bfd2;}
.main .content .leftAll h2 span{margin-left:10px;font-size:13px;}
.main .content .leftAll ul{font-size:14px;font-family:"宋体";margin-top:10px;margin-left:5px;} 
.main .content .leftAll ul li{overflow: hidden;height:28px;line-height:28px;text-indent:10px;color:#686767;}
.main .content .leftAll .mod{margin-top:20px;width:305px;float:left;}
.main .content .leftAll .mod2{float:left;margin-top:20px;width:305px;margin-left:30px;}
.main .content .leftAll .mod2 .tw a{padding:3px 8px 3px 8px;color:#FFF;font-size:12px;background:#99d24d;margin-left:55px;}
.main .content .leftAll .mod2 .tw a:hover{background:#d36181;}
.main .content .leftAll .mod2 .jkwd p.que,p.que2{font-size:14px;font-family:"微软雅黑";color:#cc6305;margin-top:12px;height:24px;}
.main .content .leftAll .mod2 .jkwd p.ans,p.ans2{font-size:12px;color:#888;line-height:24px;}
.main .content .leftAll .mod2 .jkwd p.ans a{color:#888;}
.main .content .leftAll .mod2 .jkwd p.ans a:hover{color:#e66506;}
.main .content .leftAll .mod2 .jkwd p.ans2 a{color:#888;}
.main .content .leftAll .mod2 .jkwd p.ans2 a:hover{color:#e66506;}
.main .content .leftAll .mod2 .jkwd p.que2{margin-top:18px;}

.main .content .leftAll img{float:left;margin-top:10px;}
.main .content .leftAll .pic_news{float:left;margin-top:10px;width:175px;margin-left:10px;}
.main .content .leftAll .pic_news h3 a{font-size:16px;color:#000;}
.main .content .leftAll .pic_news p{font-size:12px;color:#888;line-height:20px;margin-top:10px;}
.main .content .leftAll .pic_news p a{font-size:12px;color:#888;}
.main .content .leftAll .pic_news p a:hover{font-size:12px;color:#e66506;}
.main .content .leftAll .list li a{font-family:"微软雅黑";}
.main .content .leftAll .pic_news a{font-size:12px;color:#888;}
.main .content .leftAll .pic_news a:hover{color:#e66506;}
.main .content .leftAll .tw a{padding:3px 8px 3px 8px;color:#FFF;font-size:12px;background:#99d24d;margin-left:86px;}
.main .content .leftAll  .tw a:hover{background:#d36181;}
/*.main .content .leftAll  a.tw2{float:left;color:#38b3ca;font-size:24px;}
.main .content .leftAll  a.tw3{padding:3px 8px 3px 8px;color:#FFF;font-size:12px;background:#99d24d; float:right; margin-top:4px; margin-right:4px;}
.main .content .leftAll  a.tw4{padding:3px 8px 3px 8px;color:#FFF;font-size:12px;background:#99d24d;margin-right:10px; margin-top:4px; float:right;}*/
/*.kuan160{width:160px;display:block; float:left;}*/
.main .content .leftAll .mod3 {float:left;margin-top:20px;}
.main .content .leftAll .mod4 {float:right;margin-left:30px;margin-top:20px;}
.main .content .rightAll{float:right;width:308px;margin-top:30px;}
.main .content .rightAll .djch h1 {width:308px;height:25px;}
.main .content .rightAll .djch h1 a{display:none;}
.main .content .rightAll .djch img{margin-top:20px;border:1px solid #CCC;}
.main .content .rightAll .djch h4{text-align:center;font-size:14px;margin-top:5px;}
.main .content .rightAll .yygh h1 {width:308px;height:25px;margin-top:20px;}
.main .content .rightAll .yygh h1 a{display:none;}
.main .content .rightAll .yygh form{margin-top:15px;font-size:14px;text-align:center; }
.main .content .rightAll .yygh select{width:200px;height:25px;font-size:12px;color:#666;}
.main .content .rightAll .yygh .btn{margin-left:175px;margin-top:20px;}
.main .content .rightAll .yygh .btn a{width:30px;background:#53bdd1;color:#FFF;font-size:18px;font-family: "微软雅黑";padding:6px 20px 6px 20px;border:1px solid #399fb2;}
.main .content .rightAll .yygh .btn a:hover{background:#d36181;text-decoration:none;}
.main .content .rightAll .yygh .time{width:294px;height:88px;margin-left:10px;margin-top:35px;padding-top:20px;}
.main .content .rightAll .yygh .time h3{margin-left:110px;}
.main .content .rightAll .yygh .time a{ color:#FFF;font-size:18px;font-family: "微软雅黑";text-decoration:none;}
.main .content .rightAll .jbzc h1{width:308px;height:25px;margin-top:20px;}
.main .content .rightAll .jbzc h1 a{display:none;}
.main .content .rightAll .jbzc img{margin-top:15px;}

#tab{width:400px;position:relative;margin:40px auto;}
#tab .tab_menu{width:100%;float:left;position:absolute;z-index:1;}
#tab .tab_menu li{font-family: "微软雅黑";float:left;width:152px;height:40px;line-height:40px;border:1px solid #ccc;border-bottom:0px;cursor:pointer;text-align:center;margin:0 2px 0 0;color:#ababab;font-size:20px;}
#tab .tab_box{width:308px;height:280px;clear:both;top:40px;position:relative;border:1px solid #CCC;background-color:#FFF;}
#tab .tab_menu .selected{background-color:white;cursor:pointer;color:#e66506;}
#tab .hide{display:none;width:145px; height:280px;padding:0;}
.tab_box div{padding:10px;}


#tab2{width:400px;position:relative;margin:50px auto;}
#tab2 .tab_menu{width:100%;float:left;position:absolute;z-index:1;}
#tab2 .tab_menu li{font-family: "微软雅黑";float:left;width:152px;height:40px;line-height:40px;border:1px solid #ccc;border-bottom:0px;cursor:pointer;text-align:center;margin:0 2px 0 0;color:#ababab;font-size:20px;}
#tab2 .tab_box2{width:308px;height:140px;clear:both;top:40px;position:relative;border:1px solid #CCC;background-color:#FFF;}
#tab2 .tab_menu .selected2{background-color:white;cursor:pointer;color:#e66506;}
#tab2 .hide{display:none;width:145px; height:140px;padding:0;}
.tab_box2 div{padding:10px;}
#tab2  .tab_box h4 {text-align:center;} 
#tab  .tab_box .jkft{width:310px;margin:0;padding:0;height:280px;}
#tab  .tab_box .jkft img{width:145px;margin:0;padding:0;}
#tab  .tab_box .jkft .jkft_pic{width:145px;padding:0px;margin:5px;float:left;text-align: center;}
#tab .hide h4{background:none;text-align:center;} 
  .tab_box2{height:155px;width:308px;clear:both;top:40px;position:relative;border:1px solid #CCC;background-color:#FFF;}
  .tab_box2 .jkft{width:310px;margin:0;padding:0;}
  .tab_box2 .jkft img{width:145px;margin:0;padding:0;}
 .tab_box2 .jkft .jkft_pic{width:145px;padding:0px;margin:5px;float:left;text-align: center;} 
 
.mod5{margin-top:20px;}
.mod5 h2{width:980px;height:35px;border-top:2px solid #58bfd2;}
.mod5 h2 span{margin-left:10px;font-size:13px;}
.mod5 .imgleft{float:left;}
.mod5 .imgright{float:left;margin-left:8px;}