@charset "utf-8";
.backColor {
	background-color: #fff;
}

.fnt14999 {
	font-family: "微软雅黑";
	font-size: 14px;
	color: #999;
}

.fnt14f3cb0a {
	font-family: "微软雅黑";
	font-size: 14px;
	color: #f3cb0a;
}

.fnt16333 {
	font-family: "微软雅黑";
	font-size: 16px;
	color: #333;
}

.fnt16999 {
	font-family: "微软雅黑";
	font-size: 16px;
	color: #999;
}

.fnt16666 {
	font-family: "微软雅黑";
	font-size: 16px;
	color: #666;
}

.fnt16fff {
	font-family: "微软雅黑";
	font-size: 16px;
	color: #fff;
}

.fnt18333 {
	font-family: "微软雅黑";
	font-size: 18px;
	color: #333;
}

.fnt18666 {
	font-family: "微软雅黑";
	font-size: 18px;
	color: #666;
}

.fnt18999 {
	font-family: "微软雅黑";
	font-size: 18px;
	color: #999;
}

.fnt18cc0000 {
	font-family: "微软雅黑";
	font-size: 18px;
	color: #cc0000;
}

.fnt20cc0000 {
	font-family: "微软雅黑";
	font-size: 20px;
	color: #cc0000;
}

.fnt24999 {
	font-family: "微软雅黑";
	font-size: 24px;
	color: #999;
}

.fnt24cc0000 {
	font-family: "微软雅黑";
	font-size: 24px;
	color: #cc0000;
}

.fnt30cc0000 {
	font-family: "微软雅黑";
	font-size: 30px;
	color: #cc0000;
}

.headtag {
	height: 214px;
	background-color: #fff;
}

.headtop {
	height: 154px;
	width: 1200px;
	background-color: #fff;
}

.headword {
	font-family: "微软雅黑";
	font-size: 12px;
	color: #999;
	margin-top: 14px;
	height: 26px;
	width: 1200px;
	background-color: #EEEEEE;
}

.headword a {
	float: left;
	width: 80px;
	text-decoration: none;
	color: #999;
}

.headword a:first-child {
	margin-right: 630px;
}

.headword a:hover {
	color: #f3930a;
}

.headsearch {
	height: 140px;
	width: 1200px;
	background-color: #fff;
}

.headsearch div {
	float: left;
}

.headsearch_left {
	margin-left: 5px;
	margin-top: 34px;
	width: 176px;
	height: 74px;
	left: 0px;
}

.headsearch_txt {
	margin-left: 180px;
	margin-top: 40px;
	width: 640px;
	height: 68px;
}

.headsearch_txt img {
	margin-left: -500px;
	margin-top: 12px;
	float: left;
}

.headsearch_txt input:first-child {
	width: 460px;
	height: 40px;
	font-size: 16px;
	color: #999;
	border-color: #f3cb0a;
	border-style: solid;
	border-width: 2px;
	padding-left: 50px;
	float: left;
	list-style: none;
	text-decoration: none;
	outline: none;
}

.headsearch_txt input:last-child {
	width: 80px;
	height: 46px;
	font-size: 18px;
	color: #fff;
	background-color: #f3cb0a;
	border: 2px solid #f3cb0a;
	float: left;
	outline: none;
	cursor: pointer;
}

.headsearch_txt .searchWord {
	margin-top: 10px;
}

.headsearch_txt .searchWord font {
	float: left;
}

.headsearch_txt .searchWord ul {
	float: left;
	list-style: none;
	font-size: 15px;
	color: #999;
	margin-top: 2px;
	margin-left: -40px;
}

.headsearch_txt .searchWord ul li {
	float: left;
	width: 60px;
	color: #999;
}

.headsearch_txt .searchWord ul li a {
	text-decoration: none;
	color: #999;
}

.headsearch_txt .searchWord ul li a:hover {
	color: #f3930a;
}

.headsearch_right {
	width: 100px;
	height: 100px;
	background-color: #f3cb0a;
	margin-left: 60px;
	margin-top: 20px;
}

.headMenu {
	background-color: #f3cb0a;
	height: 60px;
	width: 100%;
}

.headMenuContent {
	font-family: "微软雅黑";
	font-size: 16px;
	color: #fff;
	width: 1200px;
	height: 60px;
	text-align: left;
}

.headMenuContent ul {
	list-style: none;
	height: 59px;
	margin: 0px;
	padding: 0px;
}

.headMenuContent ul li {
	float: left;
	width: 120px;
	text-align: center;
	line-height: 59px;
}

.headMenuContent ul li:hover {
	background-color: #f3930a;
	cursor: pointer;
}

.headMenuContent ul li:first-child {
	width: 200px;
	margin-right: 30px;
}

.scrollPagePic {
	background-image: url(../img/scrollback.png);
	background-repeat: no-repeat;
	width: 1200px;
	height: 100px;
	margin-top: 15px;
}

.scrollPagePic div {
	float: left;
}

.scrollPagePic div:first-child {
	margin-left: 40px;
	margin-top: 12px;
}

.scrollPagePic div:last-child {
	margin-left: 99px;
	margin-top: 5px;
	width: 700px;
	height: 80px;
	overflow: hidden;
}

.scrollPagePic div ul {
	position: relative;
	margin: 0px;
	padding: 0px;
}

.scrollPagePic div ul li {
	list-style: none;
	text-align: left;
	margin-top: 5px;
	font-size: 24px;
	color: #FFFFFF;
}

.scrollPagePic div ul li span {
	text-align: right;
	font-size: 24px;
	color: #ff7d8d;
	width: 105px;
	margin-right: 5px;
	display: inline-block;
}