@charset "utf-8";
.addNum {
	width: 100px;
	height: 32px;
	border: 1px solid #999999;
}

.addNum div {
	float: left;
	width: 32px;
	height: 100%;
	text-align: center;
	line-height: 32px;
	cursor: pointer;
}

.addNum div input {
	float: inherit;
	width: 32px;
	height: 32px;
	border: 1px solid #999999;
	margin-top: -1px;
	text-align: center;
	color: #CC0000;
	font-size: 18px;
}


/********************************************************************************************/

.headwordback {
	background-color: #f8f8f8;
	width: 100%;
}

.headword {
	font-family: "微软雅黑";
	font-size: 12px;
	color: #999;
	height: 40px;
	width: 1200px;
	line-height: 40px;
}

.headword a {
	float: left;
	width: 80px;
	text-decoration: none;
	color: #999;
}

.headword a:first-child {
	margin-right: 630px;
}

.headword a:hover {
	color: #f3930a;
}

.headerTop {
	width: 100%;
	height: 100px;
	background-color: #FFFFFF;
}

.headerTop .headerContent {
	width: 1200px;
	height: 100%;
}

.headerTop .headerContent div {
	float: left;
}

.headerTop .headerContent .headerleft {
	margin: 25px 0px 0px 0px;
}

.headerTop .headerContent .headerleft>div:last-child {
	margin-left: 28px;
	margin-top: 15px;
}

.headerTop .headerContent .headerleft>div:last-child div:first-child {
	font-size: 14px;
	color: #999999;
	cursor: pointer;
}

.headerTop .headerContent .headerleft>div:last-child div:last-child {
	font-size: 14px;
	color: #F3930A;
	cursor: pointer;
}

.headerTop .headerContent .headerright {
	margin-left: 292px;
}

.headerTop .headerContent .headerright .keyPoint {
	margin-top: 20px;
	width: 75px;
	float: left;
}

.headerTop .headerContent .headerright .keyPoint div {
	float: none;
}

.headerTop .headerContent .headerright .keyPoint .closeDiv {
	font-size: 18px;
	color: #D3D3D3;
}

.headerTop .headerContent .headerright .keyPoint .openDiv {
	font-size: 18px;
	color: #ec5706;
}

.headerTop .headerContent .headerright .keyPoint div:last-child {
	margin-top: 10px;
}

.headerTop .headerContent .headerright .keyLine {
	margin-top: 20px;
	width: 80px;
}

.headerTop .headerContent .headerright .keyLine .openleftLine {
	margin-top: 48px;
	margin-left: -25px;
	width: 65px;
	border-bottom: 2px solid #ec5706;
	float: left;
}

.headerTop .headerContent .headerright .keyLine .closeleftLine {
	margin-top: 48px;
	margin-left: -25px;
	width: 65px;
	border-bottom: 2px solid #D3D3D3;
	float: left;
}

.headerTop .headerContent .headerright .keyLine .openrightLine {
	margin-top: 48px;
	margin-right: -25px;
	margin-left: 0px;
	width: 65px;
	border-bottom: 2px solid #ec5706;
	float: left;
}

.headerTop .headerContent .headerright .keyLine .closerightLine {
	margin-top: 48px;
	margin-right: -25px;
	margin-left: 0px;
	width: 65px;
	border-bottom: 2px solid #D3D3D3;
	float: left;
}

.bodyContent {
	width: 1200px;
	height: 440px;
	margin-top: 10px;
	background-color: #FFFFFF;
}

.bodyContent .topTitle {
	height: 60px;
	line-height: 60px;
	font-size: 18px;
	color: #333333;
}

.bodyContent .topContent {
	width: 100%;
	height: 70%;
	margin: 0px 38px 0px 38px;
}

.bodyContent .topContent>div {
	float: left;
	width: 240px;
	height: 140px;
	padding: 0px 10px 0px 10px;
	border: 2px solid #D2D2D2;
	margin-right: 28px;
	margin-top: 10px;
}

.bodyContent .topContent .defauleState {
	border: 2px solid #topContent;
	background: url(../img/jiesuang/arrow1.png);
	background-repeat: no-repeat;
	background-position: 100% 100%;
}

.bodyContent .topContent .selectedState {
	border: 2px solid #ec5706;
	background: url(../img/jiesuang/arrow.png);
	background-repeat: no-repeat;
	background-position: 100% 100%;
}

.bodyContent .topContent .selectedNoPicState {
	border: 2px solid #ec5706;
}

.bodyContent .topContent div * {
	pointer-events: none;
}

.bodyContent .topContent>div>div:first-child {
	width: 100%;
	height: 50%;
	margin: 18px 0px 0px 0px;
	text-align: left;
	line-height: 30px;
	font-size: 16px;
	color: #666666;
}

.bodyContent .topContent>div>div:last-child {
	width: 100%;
	height: 40%;
	margin: 14px 0px 0px 0px;
	text-align: left;
}

.bodyContent .topContent>div>div div:first-child {
	width: 40%;
	height: 40%;
	font-size: 16px;
	color: #666666;
	float: left;
}

.bodyContent .topContent>div>div div:last-child {
	width: 60%;
	height: 40%;
	font-size: 16px;
	color: #666666;
	float: left;
}

.bodyContent .topContent>div:last-child div {
	text-align: center;
	line-height: 140px;
}

.bodyContent .topbottom {
	margin-top: 34px;
	margin-right: 38px;
	float: right;
}

.bodyContent .topbottom div {
	width: 100px;
	height: 30px;
	font-size: 14px;
	color: #666666;
	background-color: #EEEEEE;
	line-height: 30px;
	cursor: pointer;
}

.bottomContent {
	margin-top: 20px;
	width: 1200px;
	background-color: #FFFFFF;
}

.bottomContent .btmTitle {
	width: 100%;
	height: 50px;
	margin: 20px 0px 0px 0px;
	line-height: 50px;
	font-size: 18px;
	color: #333333;
}

.bottomContent .btmline {
	width: 1124px;
	border-bottom: 2px solid #EC5706;
}

.bottomContent .btmList {
	margin: 0px 38px 0px 38px;
}

.bottomContent .btmList .btmItem {
	width: 100%;
	height: 194px;
	margin-top: 10px;
}

.bottomContent .btmList .btmItem>div {
	float: left;
	height: 100%;
	margin-right: 6px;
}

.bottomContent .btmList .btmItem>div>div:first-child {
	background-color: #ec5706;
	font-size: 14px;
	color: #FFFFFF;
	line-height: 30px;
	height: 30px;
}

.bottomContent .btmList .btmItem>div .defauleItem {
	border-left: 1px solid #EFEFEF;
	border-right: 1px solid #EFEFEF;
	border-bottom: 1px solid #EFEFEF;
	height: 164px;
}

.bottomContent .btmList .btmItem>div .selectItem {
	border-left: 1px solid #ec5706;
	border-right: 1px solid #ec5706;
	border-bottom: 1px solid #ec5706;
	height: 164px;
}

.bottomContent .btmList .btmItem>div>div:last-child>div {
	float: left;
	width: 100%;
}

.bottomContent .btmList .btmItem>div>div:last-child>div div {
	float: left;
}

.bottomContent .btmList .btmItem>div>div:last-child div:first-child div:first-child {
	margin: 10px 0px 0px 20px;
	float: left;
}

.bottomContent .btmList .btmItem>div>div:last-child div:first-child div:last-child {
	margin: 14px 0px 0px 15px;
	color: #333333;
	font-size: 16px;
	float: left;
}

.bottomContent .btmList .btmItem>div>div:last-child>div:last-child {
	margin: 12px 0px 0px 5px;
}

.bottomContent .btmList .btmItem>div>div:last-child>div:last-child>div:first-child {
	float: left;
}

.bottomContent .btmList .btmItem>div>div:last-child>div:last-child>div:last-child {
	margin: 0px 0px 0px 22px;
	width: 65%;
}

.bottomContent .btmList .btmItem>div>div:last-child>div:last-child>div:last-child>div:first-child {
	font-size: 16px;
	color: #333333;
}

.bottomContent .btmList .btmItem>div>div:last-child>div:last-child>div:last-child>div:last-child {
	margin-top: 34px;
	font-size: 14px;
	color: #999999;
}

.bottomContent .btmList .btmItem .b_1 {
	width: 375px;
}

.bottomContent .btmList .btmItem .b_2,
.b_3 {
	width: 135px;
}

.bottomContent .btmList .btmItem .b_4 {
	width: 255px;
}

.bottomContent .btmList .btmItem>div:last-child {
	width: 200px;
	margin-right: 0px;
}

.bottomContent .btmList .btmItem .b_2 div:last-child div {
	line-height: 144px;
	font-size: 24px;
	color: #CC0000;
}

.bottomContent .btmList .btmItem .b_3 div:last-child div {
	line-height: 144px;
	font-size: 24px;
	color: #CC0000;
}

.bottomContent .btmList .btmItem .b_4 div:last-child div {
	line-height: 144px;
	font-size: 16px;
	color: #666666;
}

.bottomContent .btmList .btmItem .b_5 div:last-child div {
	line-height: 144px;
	font-size: 24px;
	color: #CC0000;
}

.bottomContent .bottomSeting {
	height: 46px;
	margin-left: 38px;
	line-height: 46px;
}

.bottomContent .bottomSeting div {
	float: left;
}

.bottomContent .bottomSeting div div {
	font-size: 16px;
	color: #666666;
}

.bottomContent .bottomSeting div div:first-child {
	height: 18px;
	width: 18px;
	margin-top: 3px;
	margin-right: 12px;
}

.bottomContent .bottomSeting div div:first-child input {
	height: 15px;
	width: 15px;
}

.bottomContent .bottomSeting div div:last-child {
	margin-left: 10px;
}

.bottomContent .bottomSeting div div:last-child input {
	outline: none;
	border: 0px;
	border-radius: 10px;
	height: 30px;
	width: 540px;
	border-bottom: 1px solid #EEEEEE;
}

.bottomSubmit {
	width: 1200px;
	height: 180px;
	background-color: #FFFFFF;
	margin-top: 10px;
	padding-top: 20px;
}

.bottomSubmit div {
	float: left;
}

.bottomSubmit .btmsmtLeft {
	width: 500px;
	height: 120px;
	border: 2px solid #EC5706;
	margin-left: 38px;
	padding: 20px;
}

.bottomSubmit .btmsmtLeft div {
	font-size: 18px;
	color: #333333;
}

.bottomSubmit .btmsmtLeft>div {
	margin-bottom: 12px;
}

.bottomSubmit .btmsmtLeft>div>div:last-child>div {
	font-size: 18px;
	color: #666666;
}

.bottomSubmit .btmsmtLeft>div>div:last-child>div:first-child {
	margin-left: 20px;
}

.bottomSubmit .btmsmtLeft>div>div:last-child>div:last-child {
	margin-left: 50px;
}

.bottomSubmit .btmsmtLeft .sfk {
	margin-top: 10px;
	margin-right: -30px;
	margin-bottom: 0px;
	float: right;
}

.bottomSubmit .btmsmtLeft .sfk>div:first-child {
	font-size: 24px;
	color: #333333;
	line-height: 60px;
	float: left;
}

.bottomSubmit .btmsmtLeft .sfk .sfknum {
	float: right;
}

.bottomSubmit .btmsmtLeft .sfk .sfknum div:first-child {
	font-size: 36px;
	color: #CC0000;
	line-height: 50px;
	margin-right: 30px;
}

.bottomSubmit .btmsmtLeft .sfk .sfknum>div:first-child:first-letter {
	font-size: 24px;
	color: #CC0000;
}

.bottomSubmit .btmsmtRight div {
	margin: 70px 0px 0px 292px;
	background-color: #CC0000;
	font-size: 24px;
	color: #FFFFFF;
	width: 188px;
	height: 60px;
	line-height: 60px;
	cursor: pointer;
}


/**************************************************************************************/

.model {
	height: 200%;
	width: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	background-color: #000000;
	opacity: 0.45;
}

.address {
	width: 1000px;
	height: 640px;
	left: 18%;
	top: 5%;
	position: absolute;
}

.address .addTitle {
	width: 980px;
	height: 40px;
	background-color: #ec5706;
	font-size: 18px;
	color: #FFFFFF;
	padding: 20px 0px 0px 20px;
}

.address .addTitle a {
	float: right;
	margin-right: 20px;
}

.address .addContent {
	width: 1000px;
	height: 100%;
	background-color: #FFFFFF;
}

.address .addContent .content {
	float: left;
	margin-top: 40px;
	margin-left: 158px;
}

.address .addContent .content div {
	display: inline-block;
}

.address .addContent .content>div {
	width: 800px;
	height: 46px;
	float: left;
	line-height: 46px;
	margin-bottom: 20px;
}

.address .addContent .content>div>div:first-child {
	color: #CC0000;
	margin-right: 8px;
	line-height: 46px;
	width: 8px;
}

.address .addContent .content>div>div {
	color: #333333;
	font-size: 18px;
}

.address .addContent .content>div>div:last-child input[type='text'] {
	outline: none;
	width: 460px;
	height: 40px;
	border: 1px solid #999999;
	margin-left: 28px;
	padding-left: 20px;
	font-size: 16px;
}

.address .addContent .content>div>div:last-child input[type='button'] {
	outline: none;
	width: 120px;
	height: 40px;
	border: 1px solid #ec5706;
	background-color: #ec5706;
	font-size: 20px;
	color: #FFFFFF;
	margin-left: 300px;
	cursor: pointer;
}

.address .addContent .content>div .setdef {
	font-size: 16px;
	color: #666666;
}

.fapiao {
	width: 1000px;
	height: 640px;
	left: 18%;
	top: 5%;
	position: absolute;
}

.fapiao .addTitle {
	width: 980px;
	height: 40px;
	background-color: #ec5706;
	font-size: 18px;
	color: #FFFFFF;
	padding: 20px 0px 0px 20px;
}

.fapiao .addTitle a {
	float: right;
	margin-right: 20px;
}

.fapiao .addContent {
	width: 1000px;
	height: 100%;
	background-color: #FFFFFF;
}

.fapiao .addContent .content {
	float: left;
	margin-top: 22px;
	margin-left: 58px;
	width: 90%;
}

.fapiao .addContent .content>div:first-child>div:first-child {
	font-size: 18px;
	color: #EC5706;
	float: left;
}

.fapiao .addContent .content>div:first-child>div:last-child {
	font-size: 16px;
	color: #666666;
	float: right;
}

.fapiao .addContent .content>div:first-child>div:last-child a {
	font-size: 16px;
	color: #666666;
	text-decoration: none;
}

.fapiao .addContent .content>div:first-child>div:last-child a:hover {
	color: #F3930A;
}

.fapiao .addContent .content .typeicon {
	margin-top: 40px;
	margin-left: 10px;
	height: 132px;
}

.fapiao .addContent .content .typeicon>div {
	float: left;
	width: 200px;
	height: 100px;
	border: 1px solid #bfbfbf;
	margin-right: 20px;
}

.fapiao .addContent .content .typeicon>div * {
	pointer-events: none;
}

.fapiao .addContent .content .typeicon .selectType {
	border: 1px solid #EC5706;
	background-image: url(../img/jiesuang/arrow.png);
	background-position: 100% 100%;
	background-repeat: no-repeat;
}

.fapiao .addContent .content .typeicon>div .selectctitle {
	font-size: 14px;
	color: #EC5706;
	margin: 5px 0px 0px 5px;
}

.fapiao .addContent .content .typeicon>div .ctitle {
	font-size: 14px;
	color: #BFBFBF;
	margin: 5px 0px 0px 5px;
}

.fapiao .addContent .content .typeicon>div .ctype {
	font-size: 20px;
	color: #333333;
	text-align: center;
	margin: 5px 0px 15px 0px;
}

.fapiao .addContent .content .typeicon>div .cname {
	font-size: 18px;
	color: #EC5706;
	text-align: center;
}

.fapiao .addContent .content .addresstext {
	float: left;
	margin-left: 87px;
	font-size: 18px;
	color: #2b9fe1;
	width: 100%;
	height: 40px;
	cursor: pointer;
}

.fapiao .addContent .content .checklist {
	height: 75px;
	margin-left: 208px;
	margin-top: 12px;
}

.fapiao .addContent .content .checklist>div {
	width: 170px;
	float: left;
}

.fapiao .addContent .content .checklist>div div {
	height: 45px;
	margin-right: 10px;
	float: left;
	font-size: 24px;
	color: #333333;
}

.fapiao .addContent .content .checklist>div div:first-child {
	margin-top: 3px;
}

.fapiao .addContent .content .itemlist {
	position: relative;
	display: block;
	margin-left: 87px;
}

.fapiao .addContent .content .itemlist>div {
	position: relative;
	display: block;
	height: 40px;
	margin-top: 10px;
}

.fapiao .addContent .content .itemlist>div>div {
	position: relative;
	display: inline-block;
	font-size: 18px;
	color: #333333;
}

.fapiao .addContent .content .itemlist>div>div:first-child {
	color: #EC5706;
	margin-right: 5px;
}

.fapiao .addContent .content .itemlist>div>div:last-child {
	height: 40px;
}

.fapiao .addContent .content .itemlist>div .ct {
	width: 110px;
}

.fapiao .addContent .content .itemlist>div>div:last-child input {
	height: 40px;
	width: 480px;
	outline: none;
	border: 1px solid #999999;
	font-size: 16px;
	padding-left: 10px;
}

.fapiao .addContent .content .setDefCb {
	position: relative;
	display: block;
	margin-left: 140px;
	margin-top: 34px;
}

.fapiao .addContent .content .setDefCb>div:first-child {
	position: relative;
	display: inline-block;
	width: 20px;
	margin-top: 0px;
}

.fapiao .addContent .content .setDefCb>div:last-child {
	position: relative;
	display: inline-block;
	width: 150px;
	color: #666666;
	font-size: 16px;
}

.fapiao .addContent .content>div:last-child {
	margin: 34px 0px 0px 382px;
}

.fapiao .addContent .content>div:last-child input {
	outline: none;
	width: 120px;
	height: 40px;
	border: 1px solid #ec5706;
	background-color: #ec5706;
	font-size: 20px;
	color: #FFFFFF;
	cursor: pointer;
}