@charset "utf-8";
.headwordback {
	background-color: #f8f8f8;
	width: 100%;
}

.headword {
	font-family: "微软雅黑";
	font-size: 12px;
	color: #999;
	height: 40px;
	width: 1200px;
	line-height: 40px;
}

.headword a {
	float: left;
	width: 80px;
	text-decoration: none;
	color: #999;
}

.headword a:first-child {
	margin-right: 630px;
}

.headword a:hover {
	color: #f3930a;
}

.headerTop {
	background-color: #F3CB0A;
	width: 100%;
	height: 80px;
}

.headerTop .headerContent {
	width: 1200px;
	height: 80px;
}

.headerTop .headerContent div {
	float: left;
}

.headerTop .headerContent .icon {
	float: left;
	padding: 10px 0px 0px 40px;
	width: 200px;
	cursor: pointer;
}

.headerTop .headerContent .icon div {
	float: left;
}

.headerTop .headerContent .icon span {
	float: left;
	margin: 15px 0px 20px 20px;
	font-size: 20px;
	color: #FFFFFF;
}

.headerTop .headerContent .headerList {
	float: left;
	margin-left: 40px;
}

.headerTop .headerContent .headerList div {
	float: left;
	font-size: 18px;
	color: #FFFFFF;
	line-height: 80px;
	margin-right: 50px;
	width: 100px;
	cursor: pointer;
}

.headerTop .headerContent .headerList div:hover {
	background-color: #F3930A;
}

.headerTop .headerContent .search {
	float: right;
	line-height: 80px;
}

.headerTop .headerContent .search div {
	float: left;
}

.headerTop .headerContent .search div:first-child {
	width: 365px;
	height: 40px;
	margin: 21px -420px 0px 0px;
	background-color: #FFFFFF;
}

.headerTop .headerContent .search .key1 {
	width: 360px;
	height: 40px;
	margin: 21px -420px 0px 0px;
	padding-left: 60px;
	text-align: left;
	line-height: 40px;
	font-size: 14px;
	color: #999999;
}

.headerTop .headerContent .search div input[type='text'] {
	width: 300px;
	height: 40px;
	background: transparent;
	outline: none;
	border: 0px solid #D2D2D2;
	padding-left: 60px;
	font-size: 14px;
	color: #333333;
}

.headerTop .headerContent .search .icon {
	width: auto;
	margin: 0px 0px 0px -380px;
}

.headerTop .headerContent .search div input[type='button'] {
	width: 60px;
	height: 41px;
	background-color: #BFBFBF;
	border: 0px;
	font-size: 14px;
	color: #FFFFFF;
	outline: none;
	cursor: pointer;
}

.bodyContent {
	width: 1200px;
	margin-top: 10px;
	background-color: #FFFFFF;
}

.bodyContent .shdzTitle {
	height: 50px;
	line-height: 50px;
	font-size: 18px;
	color: #333333;
}

.bodyContent .shdzlist {
	width: 100%;
	position: relative;
}

.bodyContent .shdzlistTitle {
	height: 50px;
	width: 100%;
}

.bodyContent .shdzlistTitle div {
	background-color: #F3930A;
	height: 100%;
	float: left;
	margin-left: 1px;
	font-size: 16px;
	color: #FFFFFF;
	line-height: 50px;
}

.bodyContent .shdzlistTitle div:first-child {
	margin-left: 0px;
}

.bodyContent .shdzlistTitle .t_1 {
	width: 240px;
}

.bodyContent .shdzlistTitle .t_2 {
	width: 300px;
}

.bodyContent .shdzlistTitle .t_3 {
	width: 120px;
}

.bodyContent .shdzlistTitle .t_4 {
	width: 120px;
}

.bodyContent .shdzlistTitle .t_5 {
	width: 160px;
}

.bodyContent .shdzlistTitle .t_6 {
	width: 140px;
}

.bodyContent .shdzlistTitle .t_7 {
	width: 114px;
}

.bodyContent .shdzlistContent {
	height: 70px;
	width: 100%;
}

.bodyContent .shdzlistContent>div {
	height: 100%;
	float: left;
	margin-left: 1px;
	font-size: 14px;
	color: #666666;
	line-height: 70px;
	border: 1px solid #D3D3D3;
	border-top: 0px;
	margin-top: -1px;
}

.bodyContent .shdzlistContent>div span {
	display: inline-block;
	line-height: 22px;
	vertical-align: middle;
}

.bodyContent .shdzlistContent div:first-child {
	margin-left: 0px;
}

.bodyContent .shdzlistContent .c_1 {
	width: 128px;
	padding: 0px 55px 0px 55px;
	text-align: left;
}

.bodyContent .shdzlistContent .c_2 {
	width: 198px;
	padding: 0px 50px 0px 50px;
	text-align: left;
}

.bodyContent .shdzlistContent .c_3 {
	width: 50px;
	padding: 0px 34px 0px 34px;
}

.bodyContent .shdzlistContent .c_4 {
	width: 118px;
}

.bodyContent .shdzlistContent .c_5 {
	width: 158px;
}

.bodyContent .shdzlistContent .c_6 {
	width: 138px;
}

.bodyContent .shdzlistContent .c_6 a {
	color: #666666;
	text-decoration: none;
}

.bodyContent .shdzlistContent .c_6 a:hover {
	color: #F3930A;
}

.bodyContent .shdzlistContent .c_7 {
	width: 112px;
}

.bodyContent .shdzlistContent .c_7 a {
	color: #666666;
	text-decoration: none;
}

.bodyContent .shdzlistContent .c_7 a:hover {
	color: #F3930A;
}

.bodyContent .addAddress {
	width: 1200px;
}

.bodyContent .addAddress .newaddress {
	margin-top: 18px;
	font-size: 16px;
	color: #2B9FE1;
	text-align: left;
	margin-left: 30px;
	cursor: pointer;
}

.bodyContent .addAddress .addressItems {
	margin-top: 8px;
	background-color: #FFFFFF;
}

.bodyContent .addAddress .addressItems div {
	display: inline-block;
}

.bodyContent .addAddress .addressItems>div {
	text-align: left;
	width: 800px;
	height: 46px;
	line-height: 46px;
	margin-bottom: 20px;
	margin-left: 190px;
}

.bodyContent .addAddress .addressItems>div>div:first-child {
	color: #CC0000;
	margin-right: 8px;
	line-height: 46px;
	width: 8px;
}

.bodyContent .addAddress .addressItems>div>div {
	color: #333333;
	font-size: 18px;
}

.bodyContent .addAddress .addressItems>div>div:last-child input[type='text'] {
	outline: none;
	width: 460px;
	height: 40px;
	border: 1px solid #D3D3D3;
	margin-left: 28px;
	padding-left: 20px;
	font-size: 16px;
}

.bodyContent .addAddress .addressItems>div>div:last-child input[type='button'] {
	outline: none;
	width: 120px;
	height: 40px;
	border: 1px solid #ec5706;
	background-color: #ec5706;
	font-size: 20px;
	color: #FFFFFF;
	margin-left: 300px;
	cursor: pointer;
}

.bodyContent .addAddress .addressItems>div .setdef {
	font-size: 16px;
	color: #666666;
}